<div class = contentHead>
<div class = "navbar">
    <ul>
        <li class = "nav-item"><strong>Nicholas Allicock</strong></li>
        <li class = "nav-item"><a routerLink = "/home"><strong>Home</strong></a></li>
        <li class = "nav-item"><a routerLink = "/about"><strong>My Projects</strong></a></li>
        <li class = "nav-item"><strong>Email: <a href="mailto:nicholasallicock@outlook.com" style = "text-decoration: underline">nicholasallicock@outlook.com</a></strong></li>
        <li class = "nav-item"><strong>Phone: <a href="tel:647-609-6534" style = "text-decoration: underline">647-609-6534</a></strong></li>

        
<!--<li class = "nav-item"><button class = "button">login</button></li> -->
    </ul>
</div>