<div class = contentHead>
        <div class = "nav-item" id = "myName"><strong>Nicholas Allicock</strong></div>
        <div class = "nav-item" id = "myHome"><a routerLink = "/home"><strong>Home</strong></a></div>
        <div class = "nav-item" id = "myAbout"><a routerLink = "/about"><strong>My Projects</strong></a></div>
        <div class = "nav-item" id = "myEmail"><strong><a href="mailto:nicholasallicock@outlook.com" style = "text-decoration: underline">Email: nicholasallicock@outlook.com</a></strong></div>
        <div class = "nav-item" id = "myPhone"><strong><a href="tel:647-609-6534" style = "text-decoration: underline">Phone: 647-609-6534</a></strong></div>
        <div class = "nav-item" id = "myGithub"><strong><a href="https://github.com/nallicock" style = "text-decoration: underline" target = "_blank">My Github</a></strong></div>
</div>