<div class = "header">
    <h1>NICHOLAS ALLICOCK</h1>
    <p>Front End Engineer</p>
</div>

<div class = "contentHead">
    <div class = "nav-item" id = "myHome" style = "font-weight: normal;"><a href = ".banner"><strong>HOME</strong></a></div>
    <div class = "nav-item" id = "myAbout"><a href = "#pageTitle"><strong>PROJECTS</strong></a></div>
    <div class = "nav-item" id = "myContact"><a href = "#contact"><strong>CONTACT</strong></a></div>
    <div class = "nav-item" id = "myGithub"><strong><a href="https://github.com/nallicock" target = "_blank">GITHUB</a></strong></div>
</div>