<footer class = "footer">
    <div id = "chat"><h1 style = "text-align: center;">Let's Chat!</h1></div>
    <div id = "please"><h1>Please feel free to <strong><a href="mailto:nicholasallicock@outlook.com" style = "text-decoration: underline; color: white;">Email Me</a> or <a href="tel:647-609-6534" style = "text-decoration: underline; color: white;">Call Me</a>.</strong></h1></div>
    <div id = "contact"><h1><strong>Email: <a href="mailto:nicholasallicock@outlook.com" style = "text-decoration: underline; color: white;">nicholasallicock@outlook.com</a>    
        <br>Phone Number: <a href="tel:647-609-6534" style = "text-decoration: underline; color: white;">647-609-6534</a></strong>
    </h1></div>
</footer>
