<div class = "container">
  <div class = "projects" id = "covid-bot">
    <a href = "https://twitter.com/CovidNick" style = "text-decoration: none;" target = "_blank">
      <img src = "assets/img/covid-pic.PNG" id = "covid-bot-pic" height = "500" width = "500">
      <h1 style = "color: black">My Python COVID-19 Twitter Bot</h1>
      <p style = "color: black">In this global pandemic, people often are curious of the current daily cases, deaths, 
        and other general statistics of COVID-19. Due to this predicament, I have taken the opportunity to
        create a Twitter bot that will scrape data and automatically post COVID-19 statistics (as shown in the picture)
        to my Twitter Developer account @CovidNick. This script was written in Python and was pushed to Heroku in order
        to run 24/7, and posts every 24 hours at 6PM EST. </p>
    </a>
    </div>
    
  <div class = "projects" id = "sidebar">
      <h1 style = "padding-top: 100px;">Check Out My Github!</h1>
      <p>All the code for these applications are on my GitHub! Please feel free to check them out and give me any feedback to make my code more efficient in any way.
      </p>

      <a href = "https://github.com/nallicock" target = "_blank"><img src = "assets/img/github.png" id = "github-link" height = "75" width = "250"></a>
      <br><br><br><br>

      <p>I also have LinkedIn, where we may chat personally and get to know each other better. There is more information about me on there as well.</p>
      <a href = "https://www.linkedin.com/in/nicholas-allicock-608904150/" target = "_blank"><img src = "assets/img/linkedin.png" id = "linkedin-link" height = "100" width = "250"></a>
      <br><br><br><br><br>

      <h1 style = "padding-top: 100px;">Still Here?</h1>
      <p>Check out my Python Twitter Bot if you haven't already: </p>
      <a href = "https://twitter.com/CovidNick" target = "_blank"><img src = "assets/img/twitter.png" id = "twitter-link" height = "200" width = "250"></a>
      <br><br><br><br><br>

  </div>
  <div class = "projects" id = "blog">
    <img src = "assets/img/blog.gif" id = "blog-gif" height = "500" width = "800">
      <h1>My Practice Bootstrap / Angular / Node / JS Blog</h1>
      <p>This blog was designed to be able to view blog posts, create new posts, and as the admin, be able to delete/edit posts as well. This was amazing bootstrap practice and a good way for me to improve my Angular skills as well.

      </p>
  </div>
  <div class = "projects" id = "inventory">
    <img src = "assets/img/orders.gif" id = "orders-gif" height = "500" width = "800">
      <h1 style = "color: black">Inventory and Orders Application C++</h1>
      <p style = "color: black">This application was created in C++ with the purpose of reading text files, organizing the data, and fulfilling desired tasks. This program will check the stock that the shop has to sell,
          and also keep track of the details for the sale itself. Many OOP concepts were used when creating this program, which helped me reach a greater understanding of text file reading and pointers.
      </p>
  </div>
  <div class = "projects" id = "banking">
    <img src = "assets/img/banking.gif" id = "orders-gif" height = "500" width = "850">
    <h1>Java Bank Teller Application</h1>
    <p>As a man who had a background in C++, I decided to learn Java. This simple application allowed me to utilize many OOP concepts 
        in order to create a bank teller program. This allows the bank teller to create a new account. From there, the bank teller may 
        deposit, withdraw, or view details of the account in question.
    </p>
  </div>
</div>