<div class = "container">

    <div class = "sidebar">
        
    </div>

    <div class = "imageContainer" id = "covid-bot">
        <a style = "text-decoration: none; color: white;" href = "https://twitter.com/CovidNick" target = "_blank">
        <img class = "image" src = "assets/img/covid-pic.PNG">
        <div class = "overlay">
            <div class = "image-title"><h1>COVID-19 Twitter Bot</h1></div>
            <p class = "image-desc">Since many people were curious about
                cases and other statistics of COVID-19, I created this bot using Python, retrieving data from an API
                to post to my twitter account every 24 hours (6PM EST). This bot was uploaded to
                Heroku in order to run 24/7 instead of starting the script manually on my computer (click to navigate to the Twitter page).
            </p>
        </div>
    </a>
    </div>


    <div class = "imageContainer" id = "blog">
        <a style = "text-decoration: none; color: white;" href = "https://github.com/nallicock/Bootstrap-Angular-Web-Project" target = "_blank">
        <img class = "image" src = "assets/img/blog.gif">
        <div class = "overlay">
            <div class = "image-title"><h1>Bootstrap/JS/Angular Blog</h1></div>
            <p class = "image-desc">Created using Bootstrap, Angular, Node, and JS to make a simple blog. The blog
                allows the viewing, uploading, and deleting of posts.
            </p>
        </div>
        </a>
    </div>

    <div class = "imageContainer" id = "inventory">
        <a style = "text-decoration: none; color: white;" href = "https://github.com/nallicock/CustomerInventoryOrders" target = "_blank">
        <img class = "image" src = "assets/img/orders.gif">
        <div class = "overlay">
            <div class = "image-title"><h1>C++ Inventory Program</h1></div>
            <p class = "image-desc">Created using C++, reads from files and will display data regarding whether parts are in stock, 
                incompleted and completed orders. This project taught me a lot about the use of pointers and file reading.
            </p>
        </div>
    </a>
    </div>

    <div class = "imageContainer" id = "banking">
        <a style = "text-decoration: none; color: white;" href = "https://github.com/nallicock/Java-Banking-Program/tree/master/Banking%20Application" target = "_blank">
        <img class = "image" src = "assets/img/banking.gif">
        <div class = "overlay">
            <div class = "image-title"><h1>Java Bank Teller Application</h1></div>
            <p class = "image-desc">Designed with the intention of learning Java after learning C++. Learned the fundamentals of Java, and uses many OOP concepts.
            </p>
        </div>
    </a>
    </div>

</div>

<div class = "container2">
    <div class = "imageContainer" id = "lenscrafters1">
        <img class = "image" src = "assets/img/Picture1.png">
        <div class = "overlay">
            <div class = "image-title"><h1>Lenscrafters Hiring Advertisement</h1></div>
            <p class = "image-desc">I was contacted by the Store Manager of Lenscrafters Yorkdale to create some Instagram/LinkedIn ads.
                My goal was to make them simple but professional and eye-catching.
            </p>
        </div>
    </div>

    <div class = "imageContainer" id = "lenscrafters2">
        <img class = "image" src = "assets/img/Picture2.png">
        <div class = "overlay">
            <div class = "image-title"><h1>Lenscrafters Hiring Advertisement</h1></div>
            <p class = "image-desc">I was contacted by the Store Manager of Lenscrafters Yorkdale to create some Instagram/LinkedIn ads.
                My goal was to make them simple but professional and eye-catching.
            </p>
        </div>
    </div>

    <div class = "imageContainer" id = "lenscrafters3">
        <img class = "image" src = "assets/img/Picture3.png">
        <div class = "overlay">
            <div class = "image-title"><h1>Lenscrafters Hiring Advertisement</h1></div>
            <p class = "image-desc">I was contacted by the Store Manager of Lenscrafters Yorkdale to create some Instagram/LinkedIn ads.
                My goal was to make them simple but professional and eye-catching.
            </p>
        </div>
    </div>

</div>