.background {
    height: 650px;
    width: 60%;
    position: relative;
    z-index:-1;
}

.banner h3 {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 60%;
    left: 10%;
}

#banner-me {
    position: absolute;
    top: 20%;
    left: 45%;
    height: 350px;
    border-style: solid;
}


.h3class {
 
    animation: fadeIn 2s ease-in;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pclass {
    animation: fadeIn 3s ease-in;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 35%;
    left: 36%;
    
}

.about-me {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;   
}

.aboutme-h1 {
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#banner-me-text {
    position: absolute;
    top: 555px;
    right: 310px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutme-p {
    width: 50%;
}

.language {
    margin-right: 200px;
    margin-bottom: 100px;
    margin-left: -80px;
    display: block;
    padding: 0;
}

.language h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#about-me {
    background-color: white;
    width: 100%;
    margin-left: 0px;
    margin-right: 200px;
}

.homeClass {
    background-color: #2c2b2b;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "angularItem javaItem pythonItem sqlItem javascriptItem htmlcssItem";
}

#angular{
    margin-left: 10px;
    grid-area: angularItem;
}

#java {
    margin-left: 10px;
    grid-area: javaItem;
}

#python {
    margin-left: 10px;
    grid-area: pythonItem;
}

#sql {
    margin-left: 10px;
    grid-area: sqlItem;
}

#javascript {
    margin-left: 10px;
    grid-area: javascriptItem;
}

#htmlcss {
    margin-left: 10px;
    grid-area: htmlcssItem;
}

@media only screen and (max-width: 1850px) {
    .container {
        grid-template-columns: 0.001fr 0.001fr 0.001fr;
        grid-template-rows: 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr;
        grid-template-areas: 
        "angularItem javaItem pythonItem"
        "sqlItem javascriptItem htmlcssItem";
    }

    #banner-me{
        bottom: 50%;
        left: 38%;
    }

    .pclass {
        bottom: 30%;
    }
}


@media only screen and (max-width: 897px) {
    .container {
        grid-template-columns: 0.001fr 0.001fr;
        grid-template-rows: 0.01fr 0.01fr 0.01fr;
        grid-template-areas: 
        "angularItem javaItem"
        "pythonItem sqlItem"
        "javascriptItem htmlcssItem";
    }

    #banner-me{
        margin-top: 100px;
        left: 33%;
    }

    .pclass {
        bottom: 30%;
    }
}

@media only screen and (max-width: 550px) {


    .banner {
        margin-top: 100px;
    }

    #banner-me{
        margin-top: 100px;
        left: 28%;
    }

    .aboutme-h1 {
        padding-right: 50px;
    }

    .pclass {
        left: 32%;
        bottom: 20%;
        width: 40%;
    }

    #htmlcss h1 {
        padding-right: 30px;
    }

    #java h1 {
        padding-right: 50px;
    }
    
    #angular h1 {
        padding-right: 50px;
    }

    #python h1 {
        padding-right: 50px;
    }

    #sql h1 {
        padding-right: 35;
    }
    .h3class {
        margin-top: 540px;
  
    }

    .container {
        width: 100%;
        margin-left: 125px;
        grid-template-columns: 0.001fr;
        grid-template-rows: 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr;
        grid-template-areas: 
        "angularItem"
        "javaItem"
        "pythonItem"
        "sqlItem"
        "javascriptItem"
        "htmlcssItem";
    }

}

