.background {
    height: 650px;
    width: 100%;
    padding-left: 0px;
    margin: 0 auto;
    position: relative;
}

.banner h3 {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 100px;
    left: 100px;
}



.banner-me-p {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 200px;
    left: 100px;
    text-align: right;
}

#banner-me {
    position: absolute;
    top: 200px;
    right: 200px;
    height: 350px;
    border-style: solid;
}


.h3class {
 
    animation: fadeIn 2s ease-in;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pclass {
    animation: fadeIn 3s ease-in;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    position: absolute;
    top: 200px;
    left: 100px;
    
}

.about-me {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;   
}

.aboutme-h1 {
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#banner-me-text {
    position: absolute;
    top: 555px;
    right: 310px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutme-p {
    width: 50%;
}

.language {
    margin-right: 200px;
    margin-bottom: 100px;
    margin-left: -80px;
    display: block;
    padding: 0;
}

.language h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#about-me {
    width: 100%;
    margin-left: 55px;
    margin-right: 200px;
}

.collaborate {
    background-color: #3c3b5f;
    padding-bottom: 50px;
}


.collaborate h1{
    text-align: center;
    color: white;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;

}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "angularItem javaItem pythonItem sqlItem javascriptItem htmlcssItem";
}

#angular{
    margin-left: 10px;
    grid-area: angularItem;
}

#java {
    margin-left: 10px;
    grid-area: javaItem;
}

#python {
    margin-left: 10px;
    grid-area: pythonItem;
}

#sql {
    margin-left: 10px;
    grid-area: sqlItem;
}

#javascript {
    margin-left: 10px;
    grid-area: javascriptItem;
}

#htmlcss {
    margin-left: 10px;
    grid-area: htmlcssItem;
}

@media only screen and (max-width: 550px) {
    .banner {
        margin-top: 100px;
    }

    #banner-me{
        margin-top: 100px;
        margin-right: -100px;
    }

    .aboutme-h1 {
        padding-right: 50px;
    }

    .pclass {
        left: 4000px;
    }

    #htmlcss h1 {
        padding-right: 30px;
    }

    #java h1 {
        padding-right: 50px;
    }

    #angular h1 {
        padding-right: 50px;
    }

    #python h1 {
        padding-right: 50px;
    }

    #sql h1 {
        padding-right: 35;
    }
    .h3class {
        margin-top: 540px;
  
    }

    .container {
        width: 100%;
        margin-left: 125px;
        grid-template-columns: 0.001fr;
        grid-template-rows: 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr 0.01fr;
        grid-template-areas: 
        "angularItem"
        "javaItem"
        "pythonItem"
        "sqlItem"
        "javascriptItem"
        "htmlcssItem";
    }

}