<div class="homeClass">
  <div class="banner">
    <img src="assets/img/sunset.jpeg" class="background" />
    <img src="assets/img/me.jpg" id="banner-me" />
  </div>

  <section class="page-section" id="about-me">
    <h1 class="aboutme-h1">Languages I Know</h1>
    <div class="container">
      <div class="language" id="angular">
        <img src="assets/img/angular.png" width="100" height="100" />
        <h1 style="font-weight: normal">Angular</h1>
      </div>
      <div class="language" id="java">
        <img src="assets/img/java.png" width="100" height="100" />
        <h1 style="font-weight: normal">Java</h1>
      </div>
      <div class="language" id="python">
        <img src="assets/img/python.png" width="100" height="100" />
        <h1 style="font-weight: normal">Python</h1>
      </div>

      <div class="language" id="sql">
        <img src="assets/img/sql (2).png" width="100" height="100" />
        <h1 style="font-weight: normal">SQL</h1>
      </div>
      <div class="language" id="javascript">
        <img src="assets/img/javascript.png" width="100" height="100" />
        <h1 style="font-weight: normal">JavaScript</h1>
      </div>

      <div class="language" id="htmlcss">
        <img src="assets/img/html.png" width="100" height="100" />
        <h1 style="font-weight: normal">HTML/CSS</h1>
      </div>
    </div>
  </section>
</div>
