<section class = "page-section" id = "intro">
    <div class = banner>
        <img src = "assets/img/sunset.jpeg" class = "background">
        <img src = "assets/img/me.jpg" id = "banner-me">
            <h3 class = "h3class">Nicholas Allicock</h3>
            <p class = "pclass" style = "text-align: center;"><strong style = "text-decoration: underline">Front-End Developer</strong></p>
            <p class = "pclass" style = "text-align: justify;"> <br>
                                Hello and thank you for visiting my site! My name is Nicholas Allicock 
                                and I am a graduate from Seneca College for Computer Programming.
                                I am a Front End Engineer and Data Engineer with a passion to 
                                develop top quality, efficient, and reliable applications. Currently, I am
                                seeking employment to utilize my technical skills and work ethic in order
                                to be a valuable asset to a company. This website will not only show you what I have done,
                                but also what I am capable of doing. </p>
        </div>
</section>

<section class = "page-section" id = "about-me">
    <h1 class = "aboutme-h1">Languages I Know</h1>

    <div class = "container">
            <div class = "language" id = "angular">
                <img src = "assets/img/angular.png" width = "100" height = "100">
                <h1><strong>Angular</strong></h1>
        </div>
        <div class = "language" id = "java">
            <img src = "assets/img/java.png"  width = "100" height = "100">
            <h1><strong>Java</strong></h1>
    </div>
        <div class = "language" id = "python">
            <img src = "assets/img/python.png" width = "100" height = "100">
            <h1><strong>Python</strong></h1>
        </div>

        <div class = "language" id = "sql">
            <img src = "assets/img/sql.png" width = "150" height = "100">
            <h1><strong>SQL</strong></h1>

        </div>
        <div class = "language" id = "javascript">
            <img src = "assets/img/javascript.png"  width = "100" height = "100">
            <h1><strong>JavaScript</strong></h1>
        </div>

        <div class = "language" id = "htmlcss">
            <img src = "assets/img/html.png"  width = "100" height = "100">
            <h1><strong>HTML/CSS</strong></h1>
        </div>

    </div>
</section>

<section class = "colb">
    <div class = "collaborate">
        <h1>Let's Chat!</h1>
        <h1>Please feel free to <strong><a href="mailto:nicholasallicock@outlook.com" style = "text-decoration: underline; color: white;">Email Me</a> or <a href="tel:647-609-6534" style = "text-decoration: underline; color: white;">Call Me</a>.</strong></h1>
        <h1><strong>Email: <a href="mailto:nicholasallicock@outlook.com" style = "text-decoration: underline; color: white;">nicholasallicock@outlook.com</a>    
            <br>Phone Number: <a href="tel:647-609-6534" style = "text-decoration: underline; color: white;">647-609-6534</a></strong>
        </h1>
    </div>
</section>